* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-color: #f6f9fc;
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
	font-style: normal;
}

.header {
    background-color: #1abc9c;
    min-height: 100px;
    display: flex;
	align-items: center;

    &__link {
    	display: flex;
    	align-items: center;
    	text-decoration: none !important;
    }

    &__avatar {
    	display: inline-block;
    	max-width: 80px;
    }

    &__descr {
    	display: inline-block;
    	margin-left: 20px;
    	text-transform: uppercase;
    	text-decoration: none;
    	color: #fff;
    	font-size: 28px;
    	font-weight: 700;
    }
}

.content {
	@include clearfix;
	margin: 50px 0;
}

.login {

}

.profile {
	position: relative;
	padding: 50px 20px;

	&__header {
		margin-bottom: 30px;
	}
	
	&__buttons {
		@media(min-width: $screen-sm) {
			position: absolute;
			top: 0;
			right: 0;
		}
		
	}
}

.avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin-bottom: 20px;


	@media(max-width: $screen-sm) {
		max-width: 300px;
		width: auto;
	}

	&__img {
		max-height: 100%;
	}
}

.block {
	margin-bottom: 20px;
}

.separator-vert {
	@media (min-width: $screen-sm) {
		border-left: 1px solid $gray-light;
	}
}

// Accessible hiding form elements
.hide-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

	&:focus + label,
	& + label:hover {
		border: 1px solid #449d44;
	}
}


//////
// angular styling
//////
.ng-valid.ng-dirty {
	border-color: $brand-success;
}

.ng-invalid.ng-dirty {
	border-color: $brand-warning;
}

//
///custom styling
//
