<div class="container edit" ng-controller="EditProfileController as edit">
	<div class="grid">
		<div class="col-sm-3">

			<div class="thumbnail avatar">
				<img ng-src="{{edit.showAvatar}}" alt="{{edit.username}} profile img" class="avatar__img">
			</div>

			
			<input class="hide-input" id="avatar" type='file' ng-model='edit.avatar' ng-change='{{edit.updateAvatar()}}' accept="image/*" base-sixty-four-input>
			<label for="avatar" class="btn btn-success">
				<i class="glyphicon glyphicon-floppy-disk"></i> Change avatar
			</label>

		</div>

		<div class="col-md-6 col-sm-9 separator-vert">

			<div class="block">
				<h2>Edit Profile</h2>
				<a href="#/profile" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Go back</a>
			</div>

			<form name="edit.editForm" ng-submit="edit.changeData()" novalidate>

				<div class="form-group">
					<label for="editName">Username</label>
					
					<input type="text" name="username" class="form-control" id="editName" placeholder="Your username" ng-model="edit.username" ng-minlength="3" required/>
					
			        <p ng-show="editForm.username.$error.minlength" class="text-danger">Your name is too short (minimum 3 symbols).</p>
			        <p ng-show="edit.usernameError" class="text-danger">User "{{edit.username}}" already exist</p>


				</div>

				<div class="form-group">
					<label for="editEmail">E-mail</label>
					
					<input type="text" name="email" class="form-control" id="editEmail" placeholder="your@email.com" ng-model="edit.email" required/>
				</div>

				<div class="form-group">

					<label for="oldPassword">Old password</label>

					<input type="password" id="checkSlave" name="oldPassword" class="form-control" id="oldPassword" placeholder="Your current password" ng-model="edit.oldPassword" ng-required="edit.oldPassword.length || edit.password.length || edit.password2.length" ng-minlength="3">

					

					<p ng-show="edit.oldPasswordError" class="text-danger">Your pass not mutch</p>
				</div>

				<div class="form-group">
					<label for="editPassword">New Password</label>
					<input type="password" name="password" class="form-control" id="editPassword" placeholder="Your new passord" ng-model="edit.password" ng-minlength="3" ng-required="edit.oldPassword.length || edit.password.length || edit.password2.length">

				</div>

				<div class="form-group">
					<label for="editPassword2">Repeat password</label>
					<input type="password" name="password2" class="form-control" id="editPassword2" placeholder="Your new password again" ng-model="edit.password2" compare-to="edit.password" ng-required="edit.oldPassword.length || edit.password.length || edit.password2.length">
					<p ng-show="edit.editForm.password2.$invalid && edit.editForm.password2.$dirty" class="text-danger">Must mutch previous entry</p>
				</div>

				<div class="form-group">
					<label for="country">Country</label>
					
					<input type="text" name="country" class="form-control" id="country" placeholder="ex: Czech Republic" ng-model="edit.country"/>
				</div>

				<div class="form-group">
					<label for="city">City</label>
					
					<input type="text" name="city" class="form-control" id="city" placeholder="ex: Prague" ng-model="edit.city"/>
				</div>

				<div class="form-group">
					<label for="postcode">Postal code</label>
					
					<input type="text" name="postcode" class="form-control" id="postcode" placeholder="ex: 12800" ng-model="edit.postcode" ng-pattern="/^\d+$/"/>
				</div>

				<div class="form-group">
					<label for="adress">Address</label>
					
					<input type="text" name="address" class="form-control" id="address" placeholder="ex: Vnislavova 7, apt 10" ng-model="edit.address"/>
				</div>


				<button type="submit" class="btn btn-success" ng-disabled="edit.editForm.$invalid">Save</button>
				<a href="#/profile" class="btn btn-danger">Cancel</a>
			</form>
		</div>
</div>