<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 login" ng-controller="LoginController as login">
	<h1>Hello amigo!</h1>
	<div class="panel panel-info login__panel">
		<div class="panel-heading">Login</div>
		<div class="panel-body">
			<form name="login.loginForm" ng-submit="login.loginUser()" novalidate>

				<div class="form-group">
					<label for="loginName">Username</label>
					
					<input type="text" name="username" class="form-control" id="loginName" placeholder="Your username" ng-model="login.username" ng-minlength="3" required/>
					
					<p class="text-danger">{{login.loginError}}</p>
				</div>

				<div class="form-group">
					<label for="loginPassword">Password</label>
					<input type="password" name="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="login.password" ng-minlength="3" required>
					<p class="text-danger">{{login.passwordError}}</p>
				</div>

				<button type="submit" class="btn btn-info" ng-disabled="login.loginForm.$invalid">Log In</button>
				<span>or</span>
				<a href="#/register" class="">Register</a>

			</form>
		</div>
	</div>
</div>