<div class="container profile" ng-controller="ProfileController as profile">
	<div class="grid clearfix">
		<div class="col-sm-3">
			<div class="thumbnail avatar">
				<img ng-src="{{profile.data.avatar || '../img/no-img.png'}}" alt="{{profile.username}} profile img" class="avatar__img">
			</div>
		</div>
		<div class="col-md-6 col-sm-9 separator-vert">
			<div class="block">
				<h2 class="profile__header">Welcome {{profile.data.username}}</h2>
				<div class="profile__buttons">
					<a href="#/edit-profile" class="btn btn-warning">Edit Profile</a>
					<button class="btn btn-danger" ng-click="profile.logOut()">Log out</button>
				</div>
			</div>
			<div class="block">
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="{{profile.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{profile.progress}}%;">
				    {{profile.progress}}%
				  </div>
				</div>
				<p ng-show="{{profile.progress < 60}}">Hey, it's look like your account completeed just only {{profile.progress}}%! <a href="#/edit-profile">add information</a></p>
			</div>
			<div class="block">
				<h3>Your awesome data:</h3>
			</div>
			<div class="block">
				<p ng-show="profile.data.email"><b>Email:</b> {{profile.data.email}}</p>
				<p ng-show="profile.data.country"><b>Country:</b> {{profile.data.country}}</p>
				<p ng-show="profile.data.city"><b>City:</b> {{profile.data.city}}</p>
				<p ng-show="profile.data.postcode"><b>Postal code:</b> {{profile.data.postcode}}</p>
				<p ng-show="profile.data.address"><b>Address:</b> {{profile.data.address}}</p>
			</div>
			<button ng-click="profile.deleteProfile()" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Delete my profile</button>
		</div>
	</div>
	
</div>
