<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 register" ng-controller="RegisterController as register">
	<h2>Registration</h2>
	<a href="#/login" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Go back</a>
	<div class="panel panel-success" style="margin-top: 30px;">
		<div class="panel-heading">Please fill all fields</div>
		<div class="panel-body">
			<form name="register.registerForm" ng-submit="register.registerUser()" novalidate>

				<div class="form-group">
					<label for="registerName">Username</label>
					
					<input type="text" name="username" class="form-control" id="registerName" placeholder="Your username" ng-model="register.username" ng-minlength="3"  required/>
					
			        <p ng-show="register.registerForm.username.$error.minlength" class="text-danger">Your name is too short (minimum 3 symbols).</p>
			        <p class="text-danger">{{register.loginError}}</p>
				</div>

				<div class="form-group">
					<label for="registerEmail">E-mail</label>
					
					<input type="email" name="email" class="form-control" id="registerEmail" placeholder="your@email.com" ng-model="register.email" required/>
				</div>

				<div class="form-group">
					<label for="registerPassword">Password</label>
					<input type="password" name="password" class="form-control" id="registerPassword" placeholder="Password" ng-model="register.password" ng-minlength="3" required>
				</div>

				<div class="form-group">
					<label for="registerPassword2">Repeat password</label>
					<input type="password" name="password2" class="form-control" id="registerPassword2" placeholder="Your password again" ng-model="register.password2" compare-to="register.password" required>
					<p ng-show="register.registerForm.password2.$invalid && register.registerForm.password2.$dirty" class="text-danger">Must mutch previous entry</p>
				</div>

				<button type="submit" class="btn btn-success" ng-disabled="register.registerForm.$invalid">Register</button>

			</form>
		</div>
	</div>
</div>